/* THIS IS WHERE YOU PUT YOUR CSS CODE*/

.topImageBanner {
    width: 100%;
    margin: auto;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.the-img-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
}


/* .the-top-image {
    width: 100%;
    height: auto;
} */


/* .the-title-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    margin: auto;
    transform: translate(-50%, -50%);
    word-wrap: break-word;
} */

.top-title {
    font-size: 50px;
    color: #fff;
    text-align: left;
    font-weight: 500;
    width: 100%;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
    margin: 1em;
}


/* .bottom-title {
    font-size: 89px;
    color: #fff;
    text-align: left;
    font-weight: 500;
    width: 100%;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
} */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


/* @media screen and (max-width: 726px) {
    .the-title-overlay {
        width: 80%;
    }
}

@media screen and (max-width: 636px) {
    .the-title-overlay {
        width: 88%;
    }
}

@media screen and (max-width: 580px) {
    .the-title-overlay {
        width: 100%;
        padding: 0em 1em;
    }
    .top-title {
        font-size: 49px;
    }
    .bottom-title {
        font-size: 69px;
    }
}

@media screen and (max-width: 390px) {
    .top-title {
        font-size: 45px;
    }
    .bottom-title {
        font-size: 60px;
    }
} */


/* .content-wrap {
    width: 85%;
    height: auto;
    margin: 2% auto;
}

.the-content {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
} */


/*.top {
    border: 1px dashed #000;
    width: 370pt;
    height: 245pt;
    max-width: 100%;
    margin: 1% auto;
    text-align: center;
  }*/


/* .pictures {
    border: 2px solid red;
    width: 300pt;
    height: 200pt;
    max-width: 100%;
}

.the-words {
    max-width: 100%;
    margin: auto;
    padding: 0em 0em 0em 2.5em;
}

.the-word-title {
    font-size: 19pt;
    width: 146%;
    word-wrap: break-word;
    padding: 0em 0.2em;
}

.the-content-bullets {
    font-size: 16pt;
    padding: 0.5em 0em 0.5em 3em;
}

.bottom-button {
    width: 30%;
    margin: 0 auto 4%;
}

.button_primary_ppc {
    font-family: inherit;
    display: block;
    position: relative;
    background: #036FED;
    border: none;
    width: 107pt;
    margin: auto;
    font-size: 18pt;
    color: #fff;
    text-align: center;
    padding: 0.2em;
} */


/* @media screen and (max-width: 1162px) {
    .content-wrap {
        width: 95%;
    }
    .bottom-button {
        width: 70%;
        margin: 0% auto 3%;
    }
}

@media screen and (max-width: 1140px) {
    .the-content-bullets {
        padding: 0.5em 0em 0.5em 1.5em;
    }
}

@media screen and (max-width: 1063px) {
    .the-words {
        padding: 0em 0em 0em 2em;
    }
}

@media screen and (max-width: 955px) {
    .the-content {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .the-words {
        padding: 2em 1em 0.5em;
    }
    .the-word-title {
        width: 100%;
        word-wrap: break-word;
        padding: 0em 2em;
        text-align: center;
    }
    .the-content-bullets {
        padding: 0em;
        margin: auto;
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .the-words {
        padding: 2em 0em;
        margin: auto;
    }
} */

#content-wrapper {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background: black;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

#slider {
    position: relative;
    width: 350px;
    height: 350px;
    margin: auto;
    perspective: 1300px;
    transition: transform 400ms ease;
    transform-style: preserve-3d;
    top: 0;
    left: 0;
    min-height: 100%;
    object-fit: cover;
    margin: 3em auto 3em;
}

#slider .slider,
#slider .slider-controls li {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    left: 0;
    top: 0;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
}


/** previous/pause/play/next buttons **/

#slider #slider-controls {
    position: absolute;
    list-style-type: none;
    cursor: pointer;
    top: 100%;
    left: -50%;
    padding: 0;
    width: 100%;
    height: auto;
    transform: translateX(50%);
    z-index: 2000;
    display: inline-flex;
    background-color: transparent;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    grid-column-gap: 1px;
}

#previous-button,
#next-button,
#pause,
#play {
    display: inline-block;
    padding: 0.5em 1em;
    color: hwb(0 98% 1%);
    border: 0.5px solid #000;
}

#previous-button:hover,
#next-button:hover,
#pause:hover,
#play:hover {
    color: #fde7d2;
    opacity: 1;
    cursor: pointer;
}

.slider {
    transition: 0.6s;
}

input[type="radio"] {
    position: relative;
    top: 92%;
    left: 50%;
    z-index: 2000;
    opacity: 0.8;
    transform: translateX(-80px);
    cursor: pointer;
}

input[type="radio"]::before {
    content: "";
    opacity: 1;
    display: grid;
    border-radius: 100%;
    opacity: 1;
    z-index: 5000;
    width: 13px;
    height: 13px;
    margin: auto;
    transform: scale(0);
    background-color: #fff;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 23px 23px rgb(0, 0, 0, 1);
}

input[type="radio"]:checked::before {
    transform: scale(1.1);
}

input[type="radio"]:checked {
    opacity: 1;
}

#play {
    display: none;
}

.slider .slide-text {
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
    top: 6em;
    color: #000;
    background: #fff;
    font-weight: 800;
    z-index: 2000;
    font-weight: bold;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
}

.slide-number-container {
    position: absolute;
    top: .5em;
    left: .5em;
    z-index: 6;
    font-weight: 500;
    font-size: .6em;
    display: flex;
    gap: 0.1em;
    align-items: center;
    color: #000;
}


/* .slide-number-container hr {
    width: .8em;
    transform: rotate(130deg);
    border-color: rgb(111 109 109);
    border-width: 0.5px;
} */


/* .numbertext {
    border-radius: 100%; 
    font-family: inherit;
    color: rgb(0, 1, 43);
    font-size: 16px;
    font-weight: 600;
    padding: 1px 8px;
    position: absolute;
    top: 3%;
    left: 1%;
    background: rgba(252, 250, 250, 0.7);
    z-index: 3000;
  } */

img.eachimg {
    width: 100%;
    height: 100%;
}


/* Active Slide */

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
    opacity: 1;
    box-shadow: 0 3px 17px rgba(0, 0, 0, 0.2), 0 5px 6px rgba(0, 0, 0, 0.2);
    transform: translate3d(0%, 0, 0px);
}


/* Next Slide */

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
    opacity: 0.6;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(105%, 0, -150px) scale(.9);
    /* filter: brightness(50%); */
}


/* Next to Next Slide */

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
    opacity: 0.3;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(213%, 0, -350px) scale(.8);
    /* filter: brightness(50%); */
}


/* Previous to Previous Slide */

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
    opacity: 0.3;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(-213%, 0, -350px) scale(0.8);
    /* filter: brightness(50%); */
}


/* Previous Slide */

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
    opacity: 0.6;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(-105%, 0, -150px) scale(.9);
    /* filter: brightness(50%); */
}

@media screen and (max-width:1177px) {
    #slider {
        perspective: 1250px;
    }
    #content-wrapper {
        margin: 13% auto;
    }
}