        /* THIS IS WHERE YOU PUT YOUR CSS CODE*/
        
        .the-whole-thing {
            position: fixed;
            width: 100%;
            margin: auto;
            background: #000;
            min-height: 100vh;
        }
        
        .artistTitleWrapper {
            width: 100%;
            max-width: 100%;
            margin: auto;
            background: #000;
            padding: 1em 0em;
        }
        
        .artistTitleContainer {
            position: relative;
            max-width: 100%;
            /* padding: 0em 4em; */
            height: auto;
            background: hsl(0deg 6% 20% / 0%);
            border-bottom: 1px solid hsl(0deg 0.23% 18.08% / 53%);
        }
        
        .artist-title {
            font-size: 50px;
            color: #ebf6f5;
            text-align: left;
            font-weight: 500;
            width: 100%;
            text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
            margin: 0;
        }
        /* Paintbrush Icon*/
        
        .fa-solid.fa-paintbrush {
            font-size: 30px;
            color: #f8f5f5f7;
            padding: 0em 1.0em 0em 0.2em;
        }
        
        .fa-sr-only,
        .sr-only,
        .vs-hidden {
            position: absolute;
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;
        }
        
        #slider {
            position: relative;
            width: 370px;
            height: 370px;
            perspective: 1300px;
            transition: transform 400ms ease;
            transform-style: preserve-3d;
            max-width: 100%;
            min-height: 100%;
            object-fit: cover;
            margin: 1em auto;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-end;
            align-content: center;
            flex-direction: row;
        }
        
        #slider .slider {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0;
            color: white;
            font-size: 25px;
            font-weight: bold;
            cursor: pointer;
            display: inline-flex;
        }
        
        figure.img-wrapper {
            margin: 0 !important;
            width: 370px;
            height: 370px;
        }
        
        #slider .slider:focus-visible {
            outline: 2px solid #fc762d;
            /* Customize the outline style as needed */
            outline-offset: 2px;
        }
        /* navigation buttons */
        
        #slider #slider-controls {
            position: relative;
            top: 50%;
            bottom: 0;
            left: 0%;
            right: 0;
            cursor: pointer;
            outline: none;
            margin-top: 1em;
        }
        
        #slider-controls {
            background-color: transparent;
        }
        
        #slider-controls:hover {
            background-color: transparent;
        }
        /** previous/pause/play/next buttons **/
        
        #previous-button {
            position: absolute;
            top: 40%;
            left: 15px;
            padding: 13px 15px;
            border-radius: 50%;
            border: 2px solid #fff;
            background-color: transparent;
            color: #fff;
        }
        
        #pause,
        #play {
            position: absolute;
            top: 40%;
            left: 44%;
            padding: 13px 15px;
            border-radius: 50%;
            border: 2px solid #fff;
            background-color: transparent;
            color: #fff;
        }
        
        #next-button {
            position: absolute;
            top: 40%;
            right: 15px;
            padding: 13px 15px;
            border-radius: 50%;
            border: 2px solid #fff;
            background-color: transparent;
            color: #fff;
        }
        
        #previous-button:hover,
        #next-button:hover,
        #pause:hover,
        #play:hover {
            color: #012d34;
            opacity: 1;
            cursor: pointer;
            background-color: #fffffffe;
        }
        
        #previous-button:focus-visible,
        #next-button:focus-visible,
        #pause:focus-visible,
        #play:focus-visible {
            outline: 2px solid #b403f9;
            /* Customize the outline style as needed */
            outline-offset: 2px;
        }
        
        .slider {
            transition: 0.7s;
        }
        
        input[type="radio"] {
            position: relative;
            top: 45%;
            left: 32%;
            bottom: 0;
            z-index: 1000;
            opacity: 0.3;
            cursor: pointer;
        }
        
        input[type="radio"]::before {
            content: "";
            opacity: 1;
            display: grid;
            border-radius: 100%;
            z-index: 5000;
            width: 15px;
            height: 15px;
            margin: auto;
            transform: scale(0);
            background-color: #fff;
            transition: 120ms transform ease-in-out;
            box-shadow: inset 23px 23px rgb(0, 0, 0, 1);
        }
        
        input[type="radio"]:checked::before {
            transform: scale(1.1);
        }
        
        input[type="radio"]:checked {
            opacity: 1;
        }
        
        input[type="radio"]:focus-visible {
            outline: 2px solid #fc762d;
            /* Customize the outline style as needed */
            outline-offset: 2px;
            padding: 5px;
        }
        
        #play {
            display: none;
        }
        
        img.eachimg {
            width: 100%;
            height: 100%;
        }
        /* Active Slide */
        
        #s1:checked~#slide1,
        #s2:checked~#slide2,
        #s3:checked~#slide3,
        #s4:checked~#slide4,
        #s5:checked~#slide5 {
            opacity: 1;
            box-shadow: 0 3px 17px rgba(0, 0, 0, 0.2), 0 5px 6px rgba(0, 0, 0, 0.2);
            transform: translate3d(0%, 0, 0px);
            filter: brightness(95%);
            background-color: transparent;
        }
        
        #s1:checked~#slide1:hover,
        #s2:checked~#slide2:hover,
        #s3:checked~#slide3:hover,
        #s4:checked~#slide4:hover,
        #s5:checked~#slide5:hover {
            transform: scale3d(1.2, 1.2, 1.2);
            transition: all 0.8s ease-in-out;
            filter: brightness(100%);
            outline: 2px solid hsl(60deg 14.07% 97.41% / 44%);
            border: 1px solid hsl(156deg 2.92% 66.47% / 68%);
            padding: 1px;
            background: hsl(0deg 0% 100%);
            box-shadow: 0 0 0 8px hsl(0deg 2.05% 26.29%), 0 0 0 6px hsl(60deg 1.32% 3.85%);
        }
        
        #s1:checked~#slide1:hover~#slider-controls,
        #s2:checked~#slide2:hover~#slider-controls,
        #s3:checked~#slide3:hover~#slider-controls,
        #s4:checked~#slide4:hover~#slider-controls,
        #s5:checked~#slide5:hover~#slider-controls {
            background-color: #000;
            opacity: 0.5;
        }
        /* Next Slide */
        
        #s1:checked~#slide2,
        #s2:checked~#slide3,
        #s3:checked~#slide4,
        #s4:checked~#slide5,
        #s5:checked~#slide1 {
            opacity: 0.6;
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
            transform: translate3d(105%, 0, -150px) scale(.9);
        }
        /* Next to Next Slide */
        
        #s1:checked~#slide3,
        #s2:checked~#slide4,
        #s3:checked~#slide5,
        #s4:checked~#slide1,
        #s5:checked~#slide2 {
            opacity: 0.3;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            transform: translate3d(213%, 0, -350px) scale(.8);
        }
        /* Previous to Previous Slide */
        
        #s1:checked~#slide4,
        #s2:checked~#slide5,
        #s3:checked~#slide1,
        #s4:checked~#slide2,
        #s5:checked~#slide3 {
            opacity: 0.3;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            transform: translate3d(-213%, 0, -350px) scale(0.8);
        }
        /* Previous Slide */
        
        #s1:checked~#slide5,
        #s2:checked~#slide1,
        #s3:checked~#slide2,
        #s4:checked~#slide3,
        #s5:checked~#slide4 {
            opacity: 0.6;
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
            transform: translate3d(-105%, 0, -150px) scale(.9);
        }
        /* @media screen and (max-width: 900px) {
    .the-whole-thing {
        position: fixed;
    }
} */
        
        @media screen and (max-width: 768px) {
            .the-whole-thing {
                position: relative;
                width: 100%;
                height: auto;
                margin: auto;
                background: #000;
                min-height: 100vh;
            }
            .artistTitleContainer {
                padding: 0em;
            }
            #slider {
                margin: 0;
                overflow: hidden;
                width: 100%;
                height: auto;
                display: inline-flex;
                flex-wrap: wrap;
                align-content: flex-end;
                flex-direction: row;
                align-items: center;
                min-height: 100vh;
                justify-content: center;
            }
            input[type="radio"] {
                /* position: revert; */
                bottom: 0;
                z-index: 30000;
                opacity: 1;
            }
            figure.img-wrapper {
                margin: 0 !important;
                width: 100%;
                height: auto;
                max-width: 100%;
            }
            img.eachimg {
                height: auto;
                max-width: 100%;
            }
            .artist-title {
                font-weight: 500;
                margin: auto;
                text-align: center;
            }
            #slider #slider-controls {
                display: inline-flex;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                cursor: pointer;
                outline: none;
                justify-content: center;
                align-items: flex-end;
                flex-wrap: nowrap;
                flex-direction: column;
            }
            #previous-button,
            #next-button {
                transition: opacity 0.3s;
                opacity: 0;
            }
            #next-button:hover,
            #previous-button:hover {
                background-color: transparent;
                color: #fff;
                opacity: 0.7;
            }
            #pause,
            #play {
                opacity: 0;
                display: none;
            }
            #s1:checked~#slide1:focus-visible,
            #s2:checked~#slide2:focus-visible,
            #s3:checked~#slide3:focus-visible,
            #s4:checked~#slide4:focus-visible,
            #s5:checked~#slide5:focus-visible {
                outline: 3px solid #fc762d;
                /* Customize the outline style as needed */
                outline-offset: 2px;
            }
        }